body {
    background-image: url('../Imagens/pizza2.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;
}

.container {
    padding: 25px;
    position: center;
}

#Links {
   text-align: right;
}

#camposInicio {
    margin-top: 250px;
    color: black;
    background-color: white;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
