body {
    background-image: url('../Imagens/pizza2.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;
}

.container {
    padding: 25px;
    position: center;
}

#Links {
   text-align: right;
}

#camposInicio {
    margin-top: 300px;
    color: white;
    background: rgba(0,0,0,.7);
    border: none;
    margin-bottom: 1.25rem;
    border-width: 1px;
    padding: 1.25rem;
}
