*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/DiskPizza/.vs
/DiskPizza/.vs
/DiskPizza/.vs/*
/DiskPizza/DiskPizza.WebUI/ApplicationInsights.config
/DiskPizza/DiskPizza.Models/DiskPizza.Models.csproj.user
/DiskPizza/DiskPizza.DataAccess/DiskPizza.DataAccess.csproj.user
/DiskPizza/DiskPizza.WebUI/DiskPizza.WebUI.csproj.user
/DiskPizza/DiskPizza.WebUI/bin
/DiskPizza/DiskPizza.WebUI/bin/*
/DiskPizza/DiskPizza.WebUI/bin/Debug
/DiskPizza/DiskPizza.WebUI/bin/Debug/*.dll
/DiskPizza/DiskPizza.WebUI/bin/Release
/DiskPizza/DiskPizza.WebUI/obj
/DiskPizza/DiskPizza.WebUI/obj/*
/DiskPizza/DiskPizza.Models/bin
/DiskPizza/DiskPizza.Models/bin/*
/DiskPizza/DiskPizza.Models/obj
/DiskPizza/DiskPizza.Models/obj/*
/DiskPizza/DiskPizza.DataAccess/bin
/DiskPizza/DiskPizza.DataAccess/bin/Debug/*.dll
/DiskPizza/DiskPizza.DataAccess/bin/Debug/*.pdb
/DiskPizza/DiskPizza.DataAccess/bin/Release/*
/DiskPizza/DiskPizza.DataAccess/bin/Release/*.dll
/DiskPizza/DiskPizza.DataAccess/bin/Release/*.pdb
/DiskPizza/DiskPizza.DataAccess/obj
/DiskPizza/DiskPizza.DataAccess/obj/*
/DiskPizza/DiskPizza.WebUI/*.user
/DiskPizza/DiskPizza.Models/*.user
/DiskPizza/DiskPizza.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
DiskPizza.DataAccess.csproj.user
*.user
.vs
DiskPizza.Models.csproj.user
DiskPizza/DiskPizza.Models/bin/Debug/DiskPizza.Models.dll
DiskPizza/DiskPizza.Models/bin/Debug/DiskPizza.Models.dll
*.dll
*.pdb
*.cache
*.pubxml
