@using DiskPizza.Models

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                        <th>Preço Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Produto_x_Tamanho item in Model)
                    {
                        <tr>
                            <td>@item.Produto.Nome</td>
                            <td>@item.Produto.Tipo</td>
                            <td>@item.Tamanho.Nome</td>
                            <td>@item.Preco_Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
