@using DiskPizza.Models
<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Valor (R$)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
            </tr>
            <tr>
                <td>Coluna 1</td>
                <td>Coluna 2</td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 text-right">
        TOTAL: R$ 100,00
    </div>
</div>